<select id="region-selector">
  <option value="Africa" selected="selected">Africa</option>
  <option value="Americas" >Americas</option>
  <option value="Eastern Mediterranean" >Eastern Mediterranean</option>
  <option value="Europe" >Europe</option>
  <option value="South East Asia" >South East Asia</option>
  <option value="Western Pacific" >Western Pacific</option>
</select>
<iframe
  id="region-selected-iframe"
  title=""
  src="{{ include.default_cdn }}02-01-2023/covid_each_region/RegionCovid_Africa.html"
  frameborder="0"
  width="100%"
  height="600"
  allowtransparency
  loading="lazy"
></iframe>

<script>
  const regionSelector = document.getElementById('region-selector');
  const regionIframe = document.getElementById('region-selected-iframe');

  let archiveValRegion = "02-01-2023";

  if(getCookie("archive") !== null) {
    archiveValRegion = getCookie("archive");
    regionIframe.src = "{{ include.default_cdn }}" + archiveValRegion + "/covid_each_region/RegionCovid_Africa.html";
  }

  regionSelector.addEventListener('change',function(event) {
    regionIframe.src = "{{ include.default_cdn }}" + archiveValRegion + "/covid_each_region/RegionCovid_" + regionSelector.value + ".html";
  })

  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
</script>
