<div class="tabsgrowth">
  <input type="radio" name="tabsgrowth" id="tabsgrowthoverall">
  <label for="tabsgrowthoverall">Overall</label>
  <div class="tab">

    <div class="subgrowth">
      <input type="radio" name="subgrowthoverall" id="subgrowthoverall2021" checked="checked">
      <label for="subgrowthoverall2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-overall"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_all_countries/all_countries_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthoverall" id="subgrowthoverall2022">
      <label for="subgrowthoverall2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-overall-2022"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_all_countries/all_countries_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthoverall" id="subgrowthoverall2023">
      <label for="subgrowthoverall2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-overall-2023"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_all_countries/all_countries_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>

  <input type="radio" name="tabsgrowth" id="tabsgrowthhemisphere">
  <label for="tabsgrowthhemisphere">Hemisphere</label>
  <div class="tab">
    <label for="growth-hemisphere-selector" class="sub-label">Hemisphere:</label>
    <select id="growth-hemisphere-selector">
      <option value="Northern" selected="selected">Northern</option>
      <option value="Southern">Southern</option>
    </select>

    <div class="subgrowth">
      <input type="radio" name="subgrowthhemisphere" id="subgrowthhemisphere2021" checked="checked">
      <label for="subgrowthhemisphere2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-hemisphere"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_hemisphere/Northern hemisphere_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthhemisphere" id="subgrowthhemisphere2022">
      <label for="subgrowthhemisphere2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-hemisphere-2022"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_hemisphere/Northern hemisphere_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthhemisphere" id="subgrowthhemisphere2023">
      <label for="subgrowthhemisphere2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-hemisphere-2023"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_hemisphere/Northern hemisphere_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>

<!--  <input type="radio" name="tabsgrowth" id="tabsgrowthregion">-->
<!--  <label for="tabsgrowthregion">Region</label>-->
<!--  <div class="tab">-->
<!--    <label for="growth-region-selector" class="sub-label">Region:</label>-->
<!--    <select id="growth-region-selector">-->
<!--      <option value="Africa" selected="selected">Africa</option>-->
<!--      <option value="North Americas" >North Americas</option>-->
<!--      <option value="South Americas" >South Americas</option>-->
<!--      <option value="Eastern Mediterranean" >Eastern Mediterranean</option>-->
<!--      <option value="Europe" >Europe</option>-->
<!--      <option value="South East Asia" >South East Asia</option>-->
<!--      <option value="Western Pacific" >Western Pacific</option>-->
<!--    </select>-->

<!--    <div class="subgrowth">-->
<!--      <input type="radio" name="subgrowthregion" id="subgrowthregion2021" checked="checked">-->
<!--      <label for="subgrowthregion2021">Pre Covid Vs 2021-2022</label>-->
<!--      <div class="tab">-->
<!--        <iframe-->
<!--          id="growth-selected-iframe-region"-->
<!--          title=""-->
<!--          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_region/Africa_region_preCovid_vs_2021_22.html"-->
<!--          frameborder="0"-->
<!--          width="100%"-->
<!--          height="600"-->
<!--          allowtransparency-->
<!--        ></iframe>-->
<!--      </div>-->

<!--      <input type="radio" name="subgrowthregion" id="subgrowthregion2022">-->
<!--      <label for="subgrowthregion2022">Pre Covid Vs 2022-2023</label>-->
<!--      <div class="tab">-->
<!--        <iframe-->
<!--          id="growth-selected-iframe-region-2022"-->
<!--          title=""-->
<!--          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_region/Africa_region_preCovid_vs_2022_23.html"-->
<!--          frameborder="0"-->
<!--          width="100%"-->
<!--          height="600"-->
<!--          allowtransparency-->
<!--        ></iframe>-->
<!--      </div>-->

<!--      <input type="radio" name="subgrowthregion" id="subgrowthregion2023">-->
<!--      <label for="subgrowthregion2023">2021-2022 Vs 2022-2023</label>-->
<!--      <div class="tab">-->
<!--        <iframe-->
<!--          id="growth-selected-iframe-region-2023"-->
<!--          title=""-->
<!--          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_region/Africa_region_2021_22_vs_2022_23.html"-->
<!--          frameborder="0"-->
<!--          width="100%"-->
<!--          height="600"-->
<!--          allowtransparency-->
<!--        ></iframe>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <input type="radio" name="tabsgrowth" id="tabsgrowthclimatezones">
  <label for="tabsgrowthclimatezones">Climate Zones</label>
  <div class="tab">
    <label for="growth-climate-zone-selector" class="sub-label">Climate Zone:</label>
    <select id="growth-climate-zone-selector">
      <option value="Temperate" selected="selected">Temperate</option>
      <option value="Sub-tropical" >Subtropical</option>
      <option value="Tropical" >Tropical</option>
    </select>

    <div class="subgrowth">
      <input type="radio" name="subgrowthclimatezone" id="subgrowthclimatezone2021" checked="checked">
      <label for="subgrowthclimatezone2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-climate-zones"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_climatezone/Temperate_climazone_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthclimatezone" id="subgrowthclimatezone2022">
      <label for="subgrowthclimatezone2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-climate-zones-2022"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_climatezone/Temperate_climazone_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthclimatezone" id="subgrowthclimatezone2023">
      <label for="subgrowthclimatezone2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-climate-zones-2023"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_climatezone/Temperate_climazone_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>

  <input type="radio" name="tabsgrowth" id="tabsgrowthusregion">
  <label for="tabsgrowthusregion">US Regions</label>
  <div class="tab">

    <div class="subgrowth">
      <input type="radio" name="subgrowthusregion" id="subgrowthusregion2021" checked="checked">
      <label for="subgrowthusregion2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-us-region"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_USregion/United States_USregion_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthusregion" id="subgrowthusregion2022">
      <label for="subgrowthusregion2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-us-region-2022"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_USregion/United States_USregion_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>

      <input type="radio" name="subgrowthusregion" id="subgrowthusregion2023">
      <label for="subgrowthusregion2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="growth-selected-iframe-us-region-2023"
          title=""
          src="{{ include.default_cdn }}{{ include.default_archive }}/growth_each_USregion/United States_USregion_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<style>

  .tabsgrowth label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Tabs
 */
  .tabsgrowth {
    display: flex;
    flex-wrap: wrap;
  }
  .tabsgrowth label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabsgrowth .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabsgrowth input[type="radio"] {
    display: none;
  }
  .tabsgrowth input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabsgrowth input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabsgrowth .tab,
    .tabsgrowth label {
      order: initial;
    }
    .tabsgrowth label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<style>

  .subgrowth label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Tabs
 */
  .subgrowth {
    display: flex;
    flex-wrap: wrap;
  }
  .subgrowth label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #555;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .subgrowth .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #ddd;
  }
  .subgrowth input[type="radio"] {
    display: none;
  }
  .subgrowth input[type="radio"]:checked + label {
    background: #ddd;
    color: #333;
  }
  .subgrowth input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .subgrowth .tab,
    .subgrowth label {
      order: initial;
    }
    .subgrowth label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  const overallIFrameGrowth = document.getElementById('growth-selected-iframe-overall');
  const overallIFrame2022Growth = document.getElementById('growth-selected-iframe-overall-2022');
  const overallIFrame2023Growth = document.getElementById('growth-selected-iframe-overall-2023');
  const hemisphereIFrameGrowth = document.getElementById('growth-selected-iframe-hemisphere');
  const hemisphereIFrame2022Growth = document.getElementById('growth-selected-iframe-hemisphere-2022');
  const hemisphereIFrame2023Growth = document.getElementById('growth-selected-iframe-hemisphere-2023');
  // const regionIFrameGrowth = document.getElementById('growth-selected-iframe-region');
  // const regionIFrame2022Growth = document.getElementById('growth-selected-iframe-region-2022');
  // const regionIFrame2023Growth = document.getElementById('growth-selected-iframe-region-2023');
  const climateZonesIFrameGrowth = document.getElementById('growth-selected-iframe-climate-zones');
  const climateZonesIFrame2022Growth = document.getElementById('growth-selected-iframe-climate-zones-2022');
  const climateZonesIFrame2023Growth = document.getElementById('growth-selected-iframe-climate-zones-2023');
  const usRegionsIFrameGrowth = document.getElementById('growth-selected-iframe-us-region');
  const usRegionsIFrame2022Growth = document.getElementById('growth-selected-iframe-us-region-2022');
  const usRegionsIFrame2023Growth = document.getElementById('growth-selected-iframe-us-region-2023');

  const growthHemisphereSelector = document.getElementById('growth-hemisphere-selector');
  // const growthRegionSelector = document.getElementById('growth-region-selector');
  const growthClimateZoneSelector = document.getElementById('growth-climate-zone-selector');

  if(getCookie("archive") !== null) {
    overallIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_all_countries/all_countries_preCovid_vs_2021_22.html"
    overallIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_all_countries/all_countries_preCovid_vs_2022_23.html"
    overallIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_all_countries/all_countries_2021_22_vs_2022_23.html"
    hemisphereIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_hemisphere/Northern hemisphere_preCovid_vs_2021_22.html"
    hemisphereIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_hemisphere/Northern hemisphere_preCovid_vs_2022_23.html"
    hemisphereIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_hemisphere/Northern hemisphere_2021_22_vs_2022_23.html"
    // regionIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_region/Africa_region_preCovid_vs_2021_22.html"
    // regionIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_region/Africa_region_preCovid_vs_2022_23.html"
    // regionIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_region/Africa_region_2021_22_vs_2022_23.html"
    climateZonesIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_climatezone/Temperate_climazone_preCovid_vs_2021_22.html"
    climateZonesIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_climatezone/Temperate_climazone_preCovid_vs_2022_23.html"
    climateZonesIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_climatezone/Temperate_climazone_2021_22_vs_2022_23.html"
    usRegionsIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_USregion/United States_USregion_preCovid_vs_2021_22.html"
    usRegionsIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_USregion/United States_USregion_preCovid_vs_2022_23.html"
    usRegionsIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_USregion/United States_USregion_2021_22_vs_2022_23.html"
  }

  growthHemisphereSelector.addEventListener('change',function(event) {
    hemisphereIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_hemisphere/" + growthHemisphereSelector.value + " hemisphere_preCovid_vs_2021_22.html";
    hemisphereIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_hemisphere/" + growthHemisphereSelector.value + " hemisphere_preCovid_vs_2022_23.html";
    hemisphereIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_hemisphere/" + growthHemisphereSelector.value + " hemisphere_2021_22_vs_2022_23.html";
  });

  // growthRegionSelector.addEventListener('change',function(event) {
  //   regionIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_region/" + growthRegionSelector.value + "_region_preCovid_vs_2021_22.html";
  //   regionIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_region/" + growthRegionSelector.value + "_region_preCovid_vs_2022_23.html";
  //   regionIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_region/" + growthRegionSelector.value + "_region_2021_22_vs_2022_23.html";
  // });

  growthClimateZoneSelector.addEventListener('change',function(event) {
    climateZonesIFrameGrowth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_climatezone/" + growthClimateZoneSelector.value + "_climazone_preCovid_vs_2021_22.html";
    climateZonesIFrame2022Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_climatezone/" + growthClimateZoneSelector.value + "_climazone_preCovid_vs_2022_23.html";
    climateZonesIFrame2023Growth.src = "{{ include.default_cdn }}" + getCookie("archive") + "/growth_each_climatezone/" + growthClimateZoneSelector.value + "_climazone_2021_22_vs_2022_23.html";
  });

</script>
