<div class="tab">
    <div class="tabsnorthern">
      <input type="radio" name="tabsnorthern" id="tabsnorthernyearly" checked="checked">
      <label for="tabsnorthernyearly">Time Series</label>
      <div class="tab">
        <label for="hemisphere-time-series-selector" class="sub-label">Hemisphere:</label>
        <select id="hemisphere-time-series-selector">
          <option value="Northern" selected="selected">Northern</option>
          <option value="Southern" >Southern</option>
        </select>
        <iframe
          id="northernhemispheretimeseries"
          title=""
          src="../../assets/data/02-02-2023/timeseries_each_hemisphere/timeseries_Northern hemisphere.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="tabsnorthern" id="tabsnorthernweekly">
      <label for="tabsnorthernweekly">Weekly Dynamics</label>
      <div class="tab">
        <label for="hemisphere-weekly-selector" class="sub-label">Hemisphere:</label>
        <select id="hemisphere-weekly-selector">
          <option value="Northern" selected="selected">Northern</option>
          <option value="Southern" >Southern</option>
        </select>
        <iframe
          id="northernhemisphereweekly"
          title=""
          src="../../assets/data/02-02-2023/weekly_each_hemisphere/weekly_Northern hemisphere.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="tabsnorthern" id="tabsnortherncovid">
      <label for="tabsnortherncovid">Pre vs Post COVID</label>
      <div class="tab">
        <label for="hemisphere-covid-selector" class="sub-label">Hemisphere:</label>
        <select id="hemisphere-covid-selector">
          <option value="Northern" selected="selected">Northern</option>
          <option value="Southern" >Southern</option>
        </select>
        <iframe
          id="northernhemisphere"
          title=""
          src="../../assets/data/02-02-2023/covidimpact_each_hemisphere/covidimpact_Northern hemisphere.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

    </div>
  </div>

<style>
  .tabsnorthern label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Sub Tabs
 */
  .tabssouthern, .tabsnorthern {
    display: flex;
    flex-wrap: wrap;
  }
  .tabssouthern label, .tabsnorthern label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabssouthern .tab, .tabsnorthern .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabssouthern input[type="radio"], .tabsnorthern input[type="radio"] {
    display: none;
  }
  .tabssouthern input[type="radio"]:checked + label, .tabsnorthern input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabssouthern input[type="radio"]:checked + label + .tab, .tabsnorthern input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabssouthern .tab, .tabsnorthern .tab,
    .tabssouthern label, .tabsnorthern  label {
      order: initial;
    }
    .tabssouthern label, .tabsnorthern  label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  if(getCookie("archive") !== null) {
    document.getElementById("northernhemisphere").src = "../../assets/data/" + getCookie("archive") + "/covidimpact_each_hemisphere/covidimpact_Northern hemisphere.html"
    document.getElementById("northernhemisphereweekly").src = "../../assets/data/" + getCookie("archive") + "/weekly_each_hemisphere/weekly_Northern hemisphere.html"
    document.getElementById("northernhemispheretimeseries").src = "../../assets/data/" + getCookie("archive") + "/timeseries_each_hemisphere/timeseries_Northern hemisphere.html"
  }
</script>

<script>
  const hemisphereTimeSeriesSelector = document.getElementById('hemisphere-time-series-selector');
  const hemisphereWeeklySelector = document.getElementById('hemisphere-weekly-selector');
  const hemisphereCovidSelector = document.getElementById('hemisphere-covid-selector');
  const hemisphereCovidIframe = document.getElementById('northernhemisphere');
  const hemisphereWeeklyIframe = document.getElementById('northernhemisphereweekly');
  const hemisphereTimeSeriesIframe = document.getElementById('northernhemispheretimeseries');

  let archiveValHemisphere = "02-02-2023";

  if(getCookie("archive") !== null) {
    archiveValHemisphere = getCookie("archive");
    hemisphereCovidIframe.src = "../../assets/data/" + archiveValHemisphere + "/covidimpact_each_hemisphere/covidimpact_Northern hemisphere.html";
    hemisphereWeeklyIframe.src = "../../assets/data/" + archiveValHemisphere + "/weekly_each_hemisphere/weekly_Northern hemisphere.html";
    hemisphereTimeSeriesIframe.src = "../../assets/data/" + archiveValHemisphere + "/timeseries_each_hemisphere/timeseries_Northern hemisphere.html";
  }

  hemisphereCovidSelector.addEventListener('change',function(event) {
    hemisphereCovidIframe.src = "../../assets/data/" + archiveValHemisphere + "/covidimpact_each_hemisphere/covidimpact_" + hemisphereCovidSelector.value + " hemisphere.html";

    if(hemisphereCovidSelector.value !== hemisphereWeeklySelector.value) {
      const opts = hemisphereWeeklySelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (hemisphereWeeklySelector.options[i].value === hemisphereCovidSelector.value) {
          hemisphereWeeklySelector.options[i].selected = true;
          hemisphereWeeklySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(hemisphereCovidSelector.value !== hemisphereTimeSeriesSelector.value) {
      const optst = hemisphereTimeSeriesSelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (hemisphereTimeSeriesSelector.options[i].value === hemisphereCovidSelector.value) {
          hemisphereTimeSeriesSelector.options[i].selected = true;
          hemisphereTimeSeriesSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  });

  hemisphereWeeklySelector.addEventListener('change',function(event) {
    hemisphereWeeklyIframe.src = "../../assets/data/" + archiveValHemisphere + "/weekly_each_hemisphere/weekly_" + hemisphereWeeklySelector.value + " hemisphere.html";

    if(hemisphereWeeklySelector.value !== hemisphereCovidSelector.value) {
      const opts = hemisphereCovidSelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (hemisphereCovidSelector.options[i].value === hemisphereWeeklySelector.value) {
          hemisphereCovidSelector.options[i].selected = true;
          hemisphereCovidSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(hemisphereWeeklySelector.value !== hemisphereTimeSeriesSelector.value) {
      const optst = hemisphereTimeSeriesSelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (hemisphereTimeSeriesSelector.options[i].value === hemisphereWeeklySelector.value) {
          hemisphereTimeSeriesSelector.options[i].selected = true;
          hemisphereTimeSeriesSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  });

  hemisphereTimeSeriesSelector.addEventListener('change',function(event) {
    hemisphereTimeSeriesIframe.src = "../../assets/data/" + archiveValHemisphere + "/timeseries_each_hemisphere/timeseries_" + hemisphereTimeSeriesSelector.value + " hemisphere.html";

    if(hemisphereTimeSeriesSelector.value !== hemisphereCovidSelector.value) {
      const opts = hemisphereCovidSelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (hemisphereCovidSelector.options[i].value === hemisphereTimeSeriesSelector.value) {
          hemisphereCovidSelector.options[i].selected = true;
          hemisphereCovidSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(hemisphereTimeSeriesSelector.value !== hemisphereWeeklySelector.value) {
      const optst = hemisphereWeeklySelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (hemisphereWeeklySelector.options[i].value === hemisphereTimeSeriesSelector.value) {
          hemisphereWeeklySelector.options[i].selected = true;
          hemisphereWeeklySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  });
</script>
