<div class="tabsintensity">
  <input type="radio" name="tabsintensity" id="tabsintensityoverall">
  <label for="tabsintensityoverall">Overall</label>
  <div class="tab">

    <div class="subintensity">
      <input type="radio" name="subintensityoverall" id="subintensityoverall2021" checked="checked">
      <label for="subintensityoverall2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-overall"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_all_countries/all_countries_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityoverall" id="subintensityoverall2022">
      <label for="subintensityoverall2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-overall-2022"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_all_countries/all_countries_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityoverall" id="subintensityoverall2023">
      <label for="subintensityoverall2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-overall-2023"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_all_countries/all_countries_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>
    </div>
  </div>

  <input type="radio" name="tabsintensity" id="tabsintensityhemisphere">
  <label for="tabsintensityhemisphere">Hemisphere</label>
  <div class="tab">
    <label for="intensity-hemisphere-selector" class="sub-label">Hemisphere:</label>
    <select id="intensity-hemisphere-selector">
      <option value="Northern" selected="selected">Northern</option>
      <option value="Southern">Southern</option>
    </select>

    <div class="subintensity">
      <input type="radio" name="subintensityhemisphere" id="subintensityhemisphere2021" checked="checked">
      <label for="subintensityhemisphere2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-hemisphere"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_hemisphere/Northern hemisphere_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityhemisphere" id="subintensityhemisphere2022">
      <label for="subintensityhemisphere2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-hemisphere-2022"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_hemisphere/Northern hemisphere_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityhemisphere" id="subintensityhemisphere2023">
      <label for="subintensityhemisphere2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-hemisphere-2023"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_hemisphere/Northern hemisphere_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>
    </div>
  </div>

  <input type="radio" name="tabsintensity" id="tabsintensityregion">
  <label for="tabsintensityregion">Region</label>
  <div class="tab">
    <label for="intensity-region-selector" class="sub-label">Region:</label>
    <select id="intensity-region-selector">
      <option value="Africa" selected="selected">Africa</option>
      <option value="North Americas" >North Americas</option>
      <option value="South Americas" >South Americas</option>
      <option value="Eastern Mediterranean" >Eastern Mediterranean</option>
      <option value="Europe" >Europe</option>
      <option value="South East Asia" >South East Asia</option>
      <option value="Western Pacific" >Western Pacific</option>
    </select>

    <div class="subintensity">
      <input type="radio" name="subintensityregion" id="subintensityregion2021" checked="checked">
      <label for="subintensityregion2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-region"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_region/Africa_region_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityregion" id="subintensityregion2022">
      <label for="subintensityregion2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-region-2022"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_region/Africa_region_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityregion" id="subintensityregion2023">
      <label for="subintensityregion2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-region-2023"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_region/Africa_region_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>
    </div>
  </div>

  <input type="radio" name="tabsintensity" id="tabsintensityclimatezones">
  <label for="tabsintensityclimatezones">Climate Zones</label>
  <div class="tab">
    <label for="intensity-climate-zone-selector" class="sub-label">Climate Zone:</label>
    <select id="intensity-climate-zone-selector">
      <option value="Temperate" selected="selected">Temperate</option>
      <option value="Sub-tropical" >Subtropical</option>
      <option value="Tropical" >Tropical</option>
    </select>

    <div class="subintensity">
      <input type="radio" name="subintensityclimatezone" id="subintensityclimatezone2021" checked="checked">
      <label for="subintensityclimatezone2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-climate-zones"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_climatezone/Temperate_climazone_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityclimatezone" id="subintensityclimatezone2022">
      <label for="subintensityclimatezone2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-climate-zones-2022"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_climatezone/Temperate_climazone_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityclimatezone" id="subintensityclimatezone2023">
      <label for="subintensityclimatezone2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-climate-zones-2023"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_climatezone/Temperate_climazone_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>
    </div>
  </div>

  <input type="radio" name="tabsintensity" id="tabsintensityusregion">
  <label for="tabsintensityusregion">US Regions</label>
  <div class="tab">

    <div class="subintensity">
      <input type="radio" name="subintensityusregion" id="subintensityusregion2021" checked="checked">
      <label for="subintensityusregion2021">Pre Covid Vs 2021-2022</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-us-region"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_USregion/United States_USregion_preCovid_vs_2021_22.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityusregion" id="subintensityusregion2022">
      <label for="subintensityusregion2022">Pre Covid Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-us-region-2022"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_USregion/United States_USregion_preCovid_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>

      <input type="radio" name="subintensityusregion" id="subintensityusregion2023">
      <label for="subintensityusregion2023">2021-2022 Vs 2022-2023</label>
      <div class="tab">
        <iframe
          id="intensity-selected-iframe-us-region-2023"
          title=""
          src="../../assets/data/{{ include.default_archive }}/intensity_each_USregion/United States_USregion_2021_22_vs_2022_23.html"
          frameborder="0"
          width="100%"
          height="600"
          allowtransparency
        ></iframe>
      </div>
    </div>
  </div>
</div>

<style>

  .tabsintensity label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Tabs
 */
  .tabsintensity {
    display: flex;
    flex-wrap: wrap;
  }
  .tabsintensity label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabsintensity .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabsintensity input[type="radio"] {
    display: none;
  }
  .tabsintensity input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabsintensity input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabsintensity .tab,
    .tabsintensity label {
      order: initial;
    }
    .tabsintensity label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<style>

  .subintensity label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Tabs
 */
  .subintensity {
    display: flex;
    flex-wrap: wrap;
  }
  .subintensity label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #555;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .subintensity .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #ddd;
  }
  .subintensity input[type="radio"] {
    display: none;
  }
  .subintensity input[type="radio"]:checked + label {
    background: #ddd;
    color: #333;
  }
  .subintensity input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .subintensity .tab,
    .subintensity label {
      order: initial;
    }
    .subintensity label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  const overallIFrame = document.getElementById('intensity-selected-iframe-overall');
  const overallIFrame2022 = document.getElementById('intensity-selected-iframe-overall-2022');
  const overallIFrame2023 = document.getElementById('intensity-selected-iframe-overall-2023');
  const hemisphereIFrame = document.getElementById('intensity-selected-iframe-hemisphere');
  const hemisphereIFrame2022 = document.getElementById('intensity-selected-iframe-hemisphere-2022');
  const hemisphereIFrame2023 = document.getElementById('intensity-selected-iframe-hemisphere-2023');
  const regionIFrame = document.getElementById('intensity-selected-iframe-region');
  const regionIFrame2022 = document.getElementById('intensity-selected-iframe-region-2022');
  const regionIFrame2023 = document.getElementById('intensity-selected-iframe-region-2023');
  const climateZonesIFrame = document.getElementById('intensity-selected-iframe-climate-zones');
  const climateZonesIFrame2022 = document.getElementById('intensity-selected-iframe-climate-zones-2022');
  const climateZonesIFrame2023 = document.getElementById('intensity-selected-iframe-climate-zones-2023');
  const usRegionsIFrame = document.getElementById('intensity-selected-iframe-us-region');
  const usRegionsIFrame2022 = document.getElementById('intensity-selected-iframe-us-region-2022');
  const usRegionsIFrame2023 = document.getElementById('intensity-selected-iframe-us-region-2023');

  const intensityHemisphereSelector = document.getElementById('intensity-hemisphere-selector');
  const intensityRegionSelector = document.getElementById('intensity-region-selector');
  const intensityClimateZoneSelector = document.getElementById('intensity-climate-zone-selector');

  if(getCookie("archive") !== null) {
    overallIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_all_countries/all_countries_preCovid_vs_2021_22.html"
    overallIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_all_countries/all_countries_preCovid_vs_2022_23.html"
    overallIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_all_countries/all_countries_2021_22_vs_2022_23.html"
    hemisphereIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_hemisphere/Northern hemisphere_preCovid_vs_2021_22.html"
    hemisphereIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_hemisphere/Northern hemisphere_preCovid_vs_2022_23.html"
    hemisphereIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_hemisphere/Northern hemisphere_2021_22_vs_2022_23.html"
    regionIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_region/Africa_region_preCovid_vs_2021_22.html"
    regionIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_region/Africa_region_preCovid_vs_2022_23.html"
    regionIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_region/Africa_region_2021_22_vs_2022_23.html"
    climateZonesIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_climatezone/Temperate_climazone_preCovid_vs_2021_22.html"
    climateZonesIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_climatezone/Temperate_climazone_preCovid_vs_2022_23.html"
    climateZonesIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_climatezone/Temperate_climazone_2021_22_vs_2022_23.html"
    usRegionsIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_USregion/United States_USregion_preCovid_vs_2021_22.html"
    usRegionsIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_USregion/United States_USregion_preCovid_vs_2022_23.html"
    usRegionsIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_USregion/United States_USregion_2021_22_vs_2022_23.html"
  }

  intensityHemisphereSelector.addEventListener('change',function(event) {
    hemisphereIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_hemisphere/" + intensityHemisphereSelector.value + " hemisphere_preCovid_vs_2021_22.html";
    hemisphereIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_hemisphere/" + intensityHemisphereSelector.value + " hemisphere_preCovid_vs_2022_23.html";
    hemisphereIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_hemisphere/" + intensityHemisphereSelector.value + " hemisphere_2021_22_vs_2022_23.html";
  });

  intensityRegionSelector.addEventListener('change',function(event) {
    regionIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_region/" + intensityRegionSelector.value + "_region_preCovid_vs_2021_22.html";
    regionIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_region/" + intensityRegionSelector.value + "_region_preCovid_vs_2022_23.html";
    regionIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_region/" + intensityRegionSelector.value + "_region_2021_22_vs_2022_23.html";
  });

  intensityClimateZoneSelector.addEventListener('change',function(event) {
    climateZonesIFrame.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_climatezone/" + intensityClimateZoneSelector.value + "_climazone_preCovid_vs_2021_22.html";
    climateZonesIFrame2022.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_climatezone/" + intensityClimateZoneSelector.value + "_climazone_preCovid_vs_2022_23.html";
    climateZonesIFrame2023.src = "../../assets/data/" + getCookie("archive") + "/intensity_each_climatezone/" + intensityClimateZoneSelector.value + "_climazone_2021_22_vs_2022_23.html";
  });

</script>
