<div class="tabscountry">
  <input type="radio" name="tabscountry" id="tabscountrytimeseries" checked="checked">
  <label for="tabscountrytimeseries">Time Series</label>
  <div class="tab">
    <label for="time-series-country-selector" class="sub-label">Country:</label>
    <select id="time-series-country-selector">
      <option value="Argentina" selected="selected">Argentina</option>
      <option value="Australia" >Australia</option>
      <option value="Belize" >Belize</option>
      <option value="Brazil" >Brazil</option>
      <option value="Bulgaria" >Bulgaria</option>
      <option value="Canada" >Canada</option>
      <option value="Central African Republic" >Central African Republic</option>
      <option value="Colombia" >Colombia</option>
      <option value="Costa Rica" >Costa Rica</option>
      <option value="Cote" >Côte d'Ivoire</option>
      <option value="Denmark" >Denmark</option>
      <option value="Dominica" >Dominica</option>
      <option value="Ecuador" >Ecuador</option>
      <option value="El Salvador" >El Salvador</option>
      <option value="England" >England</option>
      <option value="France" >France</option>
      <option value="Germany" >Germany</option>
      <option value="Guatemala" >Guatemala</option>
      <option value="Honduras" >Honduras</option>
      <option value="Hungary" >Hungary</option>
      <option value="Iceland" >Iceland</option>
      <option value="India" >India</option>
      <option value="Ireland" >Ireland</option>
      <option value="Japan" >Japan</option>
      <option value="Madagascar" >Madagascar</option>
      <option value="Malaysia" >Malaysia</option>
      <option value="Mexico" >Mexico</option>
      <option value="Mongolia" >Mongolia</option>
      <option value="Netherlands" >Netherlands</option>
      <option value="Nicaragua" >Nicaragua</option>
      <option value="Northern Ireland" >Northern Ireland</option>
      <option value="Oman" >Oman</option>
      <option value="Panama" >Panama</option>
      <option value="Paraguay" >Paraguay</option>
      <option value="Peru" >Peru</option>
      <option value="Portugal" >Portugal</option>
      <option value="Qatar" >Qatar</option>
      <option value="Scotland" >Scotland</option>
      <option value="Slovakia" >Slovakia</option>
      <option value="South Africa" >South Africa</option>
      <option value="Spain" >Spain</option>
      <option value="Sweden" >Sweden</option>
      <option value="Uruguay" >Uruguay</option>
    </select>
    <iframe
      id="time-series-selected-iframe"
      title=""
      src="../../assets/data/02-02-2023/timeseries_each_country/timeseries_Argentina.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabscountry" id="tabscountryweekly">
  <label for="tabscountryweekly">Weekly Dynamics</label>
  <div class="tab">
    <label for="weekly-country-selector" class="sub-label">Country:</label>
    <select id="weekly-country-selector">
      <option value="Argentina" selected="selected">Argentina</option>
      <option value="Australia" >Australia</option>
      <option value="Belize" >Belize</option>
      <option value="Brazil" >Brazil</option>
      <option value="Bulgaria" >Bulgaria</option>
      <option value="Canada" >Canada</option>
      <option value="Central African Republic" >Central African Republic</option>
      <option value="Colombia" >Colombia</option>
      <option value="Costa Rica" >Costa Rica</option>
      <option value="Cote" >Côte d'Ivoire</option>
      <option value="Denmark" >Denmark</option>
      <option value="Dominica" >Dominica</option>
      <option value="Ecuador" >Ecuador</option>
      <option value="El Salvador" >El Salvador</option>
      <option value="England" >England</option>
      <option value="France" >France</option>
      <option value="Germany" >Germany</option>
      <option value="Guatemala" >Guatemala</option>
      <option value="Honduras" >Honduras</option>
      <option value="Hungary" >Hungary</option>
      <option value="Iceland" >Iceland</option>
      <option value="India" >India</option>
      <option value="Ireland" >Ireland</option>
      <option value="Japan" >Japan</option>
      <option value="Madagascar" >Madagascar</option>
      <option value="Malaysia" >Malaysia</option>
      <option value="Mexico" >Mexico</option>
      <option value="Mongolia" >Mongolia</option>
      <option value="Netherlands" >Netherlands</option>
      <option value="Nicaragua" >Nicaragua</option>
      <option value="Northern Ireland" >Northern Ireland</option>
      <option value="Oman" >Oman</option>
      <option value="Panama" >Panama</option>
      <option value="Paraguay" >Paraguay</option>
      <option value="Peru" >Peru</option>
      <option value="Portugal" >Portugal</option>
      <option value="Qatar" >Qatar</option>
      <option value="Scotland" >Scotland</option>
      <option value="Slovakia" >Slovakia</option>
      <option value="South Africa" >South Africa</option>
      <option value="Spain" >Spain</option>
      <option value="Sweden" >Sweden</option>
      <option value="Uruguay" >Uruguay</option>
    </select>
    <iframe
      id="weekly-country-selected-iframe"
      title=""
      src="../../assets/data/02-02-2023/weekly_each_country/weekly_Argentina.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabscountry" id="tabscountrycovid">
  <label for="tabscountrycovid">Pre vs Post COVID</label>
  <div class="tab">
    <label for="country-selector" class="sub-label">Country:</label>
    <select id="country-selector">
      <option value="Argentina" selected="selected">Argentina</option>
      <option value="Australia" >Australia</option>
      <option value="Belize" >Belize</option>
      <option value="Brazil" >Brazil</option>
      <option value="Bulgaria" >Bulgaria</option>
      <option value="Canada" >Canada</option>
      <option value="Central African Republic" >Central African Republic</option>
      <option value="Colombia" >Colombia</option>
      <option value="Costa Rica" >Costa Rica</option>
      <option value="Cote" >Côte d'Ivoire</option>
      <option value="Denmark" >Denmark</option>
      <option value="Dominica" >Dominica</option>
      <option value="Ecuador" >Ecuador</option>
      <option value="El Salvador" >El Salvador</option>
      <option value="England" >England</option>
      <option value="France" >France</option>
      <option value="Germany" >Germany</option>
      <option value="Guatemala" >Guatemala</option>
      <option value="Honduras" >Honduras</option>
      <option value="Hungary" >Hungary</option>
      <option value="Iceland" >Iceland</option>
      <option value="India" >India</option>
      <option value="Ireland" >Ireland</option>
      <option value="Japan" >Japan</option>
      <option value="Madagascar" >Madagascar</option>
      <option value="Malaysia" >Malaysia</option>
      <option value="Mexico" >Mexico</option>
      <option value="Mongolia" >Mongolia</option>
      <option value="Netherlands" >Netherlands</option>
      <option value="Nicaragua" >Nicaragua</option>
      <option value="Northern Ireland" >Northern Ireland</option>
      <option value="Oman" >Oman</option>
      <option value="Panama" >Panama</option>
      <option value="Paraguay" >Paraguay</option>
      <option value="Peru" >Peru</option>
      <option value="Portugal" >Portugal</option>
      <option value="Qatar" >Qatar</option>
      <option value="Scotland" >Scotland</option>
      <option value="Slovakia" >Slovakia</option>
      <option value="South Africa" >South Africa</option>
      <option value="Spain" >Spain</option>
      <option value="Sweden" >Sweden</option>
      <option value="Uruguay" >Uruguay</option>
    </select>
    <iframe
      id="country-selected-iframe"
      title=""
      src="../../assets/data/02-02-2023/covidimpact_each_country/covidimpact_Argentina.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>
</div>

<style>
  .tabscountry label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Tabs
 */
  .tabscountry {
    display: flex;
    flex-wrap: wrap;
  }
  .tabscountry label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabscountry .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabscountry input[type="radio"] {
    display: none;
  }
  .tabscountry input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabscountry input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabscountry .tab,
    .tabscountry label {
      order: initial;
    }
    .tabscountry label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  const countrySelector = document.getElementById('country-selector');
  const weeklyCountrySelector = document.getElementById('weekly-country-selector');
  const timeSeriesCountrySelector = document.getElementById('time-series-country-selector');
  const countryIframe = document.getElementById('country-selected-iframe');
  const weeklyCountryIframe = document.getElementById('weekly-country-selected-iframe');
  const timeSeriesCountryIframe = document.getElementById('time-series-selected-iframe');

  let archiveVal = "02-02-2023";

  if(getCookie("archive") !== null) {
    archiveVal = getCookie("archive");
    countryIframe.src = "../../assets/data/" + archiveVal + "/covidimpact_each_country/covidimpact_Argentina.html";
    weeklyCountryIframe.src = "../../assets/data/" + archiveVal + "/weekly_each_country/weekly_Argentina.html";
    timeSeriesCountryIframe.src = "../../assets/data/" + archiveVal + "/timeseries_each_country/timeseries_Argentina.html";
  }

  countrySelector.addEventListener('change',function(event) {
    countryIframe.src = "../../assets/data/" + archiveVal + "/covidimpact_each_country/covidimpact_" + countrySelector.value + ".html";

    if(weeklyCountrySelector.value !== countrySelector.value) {
      const opts = weeklyCountrySelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (weeklyCountrySelector.options[i].value === countrySelector.value) {
          weeklyCountrySelector.options[i].selected = true;
          weeklyCountrySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(timeSeriesCountrySelector.value !== countrySelector.value) {
      const optst = timeSeriesCountrySelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (timeSeriesCountrySelector.options[i].value === countrySelector.value) {
          timeSeriesCountrySelector.options[i].selected = true;
          timeSeriesCountrySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  })

  weeklyCountrySelector.addEventListener('change',function(event) {
    weeklyCountryIframe.src = "../../assets/data/" + archiveVal + "/weekly_each_country/weekly_" + weeklyCountrySelector.value + ".html";

    if(countrySelector.value !== weeklyCountrySelector.value) {
      const opts = countrySelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (countrySelector.options[i].value === weeklyCountrySelector.value) {
          countrySelector.options[i].selected = true;
          countrySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(timeSeriesCountrySelector.value !== weeklyCountrySelector.value) {
      const optst = timeSeriesCountrySelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (timeSeriesCountrySelector.options[i].value === weeklyCountrySelector.value) {
          timeSeriesCountrySelector.options[i].selected = true;
          timeSeriesCountrySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  })

  timeSeriesCountrySelector.addEventListener('change',function(event) {
    timeSeriesCountryIframe.src = "../../assets/data/" + archiveVal + "/timeseries_each_country/timeseries_" + timeSeriesCountrySelector.value + ".html";

    if(countrySelector.value !== timeSeriesCountrySelector.value) {
      const opts = countrySelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (countrySelector.options[i].value === timeSeriesCountrySelector.value) {
          countrySelector.options[i].selected = true;
          countrySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(weeklyCountrySelector.value !== timeSeriesCountrySelector.value) {
      const optst = weeklyCountrySelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (weeklyCountrySelector.options[i].value === timeSeriesCountrySelector.value) {
          weeklyCountrySelector.options[i].selected = true;
          weeklyCountrySelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  })

  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
</script>
