<div class="tabsregion">
  <input type="radio" name="tabsregion" id="tabsregiontimeseries" checked="checked">
  <label for="tabsregiontimeseries">Time Series</label>
  <div class="tab">
    <label for="time-series-region-selector" class="sub-label">Region:</label>
    <select id="time-series-region-selector">
      <option value="Africa" selected="selected">Africa</option>
      <option value="Americas" >Americas</option>
      <option value="Eastern Mediterranean" >Eastern Mediterranean</option>
      <option value="Europe" >Europe</option>
      <option value="South East Asia" >South East Asia</option>
      <option value="Western Pacific" >Western Pacific</option>
    </select>
    <iframe
      id="time-series-region-selected-iframe"
      title=""
      src="../../assets/data/{{ include.default_archive }}/timeseries_each_region/timeseries_Africa.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabsregion" id="tabsregionweekly">
  <label for="tabsregionweekly">Weekly Dynamics</label>
  <div class="tab">
    <label for="weekly-region-selector" class="sub-label">Region:</label>
    <select id="weekly-region-selector">
      <option value="Africa" selected="selected">Africa</option>
      <option value="Americas" >Americas</option>
      <option value="Eastern Mediterranean" >Eastern Mediterranean</option>
      <option value="Europe" >Europe</option>
      <option value="South East Asia" >South East Asia</option>
      <option value="Western Pacific" >Western Pacific</option>
    </select>
    <iframe
      id="weekly-region-selected-iframe"
      title=""
      src="../../assets/data/{{ include.default_archive }}/weekly_each_region/weekly_Africa.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabsregion" id="tabsregioncovid">
  <label for="tabsregioncovid">Pre vs Post COVID</label>
  <div class="tab">
    <label for="region-selector" class="sub-label">Region:</label>
    <select id="region-selector">
      <option value="Africa" selected="selected">Africa</option>
      <option value="Americas" >Americas</option>
      <option value="Eastern Mediterranean" >Eastern Mediterranean</option>
      <option value="Europe" >Europe</option>
      <option value="South East Asia" >South East Asia</option>
      <option value="Western Pacific" >Western Pacific</option>
    </select>
    <iframe
      id="region-selected-iframe"
      title=""
      src="../../assets/data/{{ include.default_archive }}/covidimpact_each_region/covidimpact_Africa.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>
</div>

<style>
  .tabsregion label.sub-label {
    background: transparent;
    display: inline;
    color: #333;
    padding: 0;
  }
  /**
 * Tabs
 */
  .tabsregion {
    display: flex;
    flex-wrap: wrap;
  }
  .tabsregion label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabsregion .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabsregion input[type="radio"] {
    display: none;
  }
  .tabsregion input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabsregion input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabsregion .tab,
    .tabsregion label {
      order: initial;
    }
    .tabsregion label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  const regionSelector = document.getElementById('region-selector');
  const weeklyRegionSelector = document.getElementById('weekly-region-selector');
  const timeseriesRegionSelector = document.getElementById('time-series-region-selector');

  const regionIframe = document.getElementById('region-selected-iframe');
  const weeklyRegionIframe = document.getElementById('weekly-region-selected-iframe');
  const timeseriesRegionIframe = document.getElementById('time-series-region-selected-iframe');

  let archiveValRegion = "{{ include.default_archive }}";

  if(getCookie("archive") !== null) {
    archiveValRegion = getCookie("archive");
    regionIframe.src = "../../assets/data/" + archiveValRegion + "/covidimpact_each_region/covidimpact_Africa.html";
    weeklyRegionIframe.src = "../../assets/data/" + archiveValRegion + "/weekly_each_region/weekly_Africa.html";
    timeseriesRegionIframe.src = "../../assets/data/" + archiveValRegion + "/timeseries_each_region/timeseries_Africa.html";
  }

  regionSelector.addEventListener('change',function(event) {
    regionIframe.src = "../../assets/data/" + archiveValRegion + "/covidimpact_each_region/covidimpact_" + regionSelector.value + ".html";

    if(regionSelector.value !== weeklyRegionSelector.value) {
      const opts = weeklyRegionSelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (weeklyRegionSelector.options[i].value === regionSelector.value) {
          weeklyRegionSelector.options[i].selected = true;
          weeklyRegionSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(regionSelector.value !== timeseriesRegionSelector.value) {
      const optst = timeseriesRegionSelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (timeseriesRegionSelector.options[i].value === regionSelector.value) {
          timeseriesRegionSelector.options[i].selected = true;
          timeseriesRegionSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  });

  weeklyRegionSelector.addEventListener('change',function(event) {
    weeklyRegionIframe.src = "../../assets/data/" + archiveValRegion + "/weekly_each_region/weekly_" + weeklyRegionSelector.value + ".html";

    if(weeklyRegionSelector.value !== regionSelector.value) {
      const opts = regionSelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (regionSelector.options[i].value === weeklyRegionSelector.value) {
          regionSelector.options[i].selected = true;
          regionSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(weeklyRegionSelector.value !== timeseriesRegionSelector.value) {
      const optst = timeseriesRegionSelector.options.length;
      for (let i = 0; i < optst; i++) {
        if (timeseriesRegionSelector.options[i].value === weeklyRegionSelector.value) {
          timeseriesRegionSelector.options[i].selected = true;
          timeseriesRegionSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  });

  timeseriesRegionSelector.addEventListener('change',function(event) {
    timeseriesRegionIframe.src = "../../assets/data/" + archiveValRegion + "/timeseries_each_region/timeseries_" + timeseriesRegionSelector.value + ".html";

    if(timeseriesRegionSelector.value !== regionSelector.value) {
      const opts = regionSelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (regionSelector.options[i].value === timeseriesRegionSelector.value) {
          regionSelector.options[i].selected = true;
          regionSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }

    if(timeseriesRegionSelector.value !== weeklyRegionSelector.value) {
      const opts = weeklyRegionSelector.options.length;
      for (let i = 0; i < opts; i++) {
        if (weeklyRegionSelector.options[i].value === timeseriesRegionSelector.value) {
          weeklyRegionSelector.options[i].selected = true;
          weeklyRegionSelector.dispatchEvent(new Event('change'));
          break;
        }
      }
    }
  });
</script>
