<div class="tabscountry">
  <input type="radio" name="tabscountry" id="tabscountrycovid" checked="checked">
  <label for="tabscountrycovid">Covid Impact</label>
  <div class="tab">
    <select id="country-selector">
      <option value="Argentina" selected="selected">Argentina</option>
      <option value="Australia" >Australia</option>
      <option value="Belize" >Belize</option>
      <option value="Brazil" >Brazil</option>
      <option value="Bulgaria" >Bulgaria</option>
      <option value="Canada" >Canada</option>
      <option value="Central African Republic" >Central African Republic</option>
      <option value="Colombia" >Colombia</option>
      <option value="Costa Rica" >Costa Rica</option>
      <option value="Cote" >Côte d'Ivoire</option>
      <option value="Denmark" >Denmark</option>
      <option value="Dominica" >Dominica</option>
      <option value="Ecuador" >Ecuador</option>
      <option value="El Salvador" >El Salvador</option>
      <option value="England" >England</option>
      <option value="France" >France</option>
      <option value="Germany" >Germany</option>
      <option value="Guatemala" >Guatemala</option>
      <option value="Honduras" >Honduras</option>
      <option value="Hungary" >Hungary</option>
      <option value="Iceland" >Iceland</option>
      <option value="India" >India</option>
      <option value="Ireland" >Ireland</option>
      <option value="Japan" >Japan</option>
      <option value="Madagascar" >Madagascar</option>
      <option value="Malaysia" >Malaysia</option>
      <option value="Mexico" >Mexico</option>
      <option value="Mongolia" >Mongolia</option>
      <option value="Netherlands" >Netherlands</option>
      <option value="Nicaragua" >Nicaragua</option>
      <option value="Northern Ireland" >Northern Ireland</option>
      <option value="Oman" >Oman</option>
      <option value="Panama" >Panama</option>
      <option value="Paraguay" >Paraguay</option>
      <option value="Peru" >Peru</option>
      <option value="Portugal" >Portugal</option>
      <option value="Qatar" >Qatar</option>
      <option value="Scotland" >Scotland</option>
      <option value="Slovakia" >Slovakia</option>
      <option value="South Africa" >South Africa</option>
      <option value="Spain" >Spain</option>
      <option value="Sweden" >Sweden</option>
      <option value="Uruguay" >Uruguay</option>
    </select>
    <iframe
      id="country-selected-iframe"
      title=""
      src="../../assets/data/02-02-2023/covidimpact_each_country/covidimpact_Argentina.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabscountry" id="tabscountryweekly">
  <label for="tabscountryweekly">Weekly</label>
  <div class="tab">
    <select id="weekly-country-selector">
      <option value="Argentina" selected="selected">Argentina</option>
      <option value="Australia" >Australia</option>
      <option value="Belize" >Belize</option>
      <option value="Brazil" >Brazil</option>
      <option value="Bulgaria" >Bulgaria</option>
      <option value="Canada" >Canada</option>
      <option value="Central African Republic" >Central African Republic</option>
      <option value="Colombia" >Colombia</option>
      <option value="Costa Rica" >Costa Rica</option>
      <option value="Cote" >Côte d'Ivoire</option>
      <option value="Denmark" >Denmark</option>
      <option value="Dominica" >Dominica</option>
      <option value="Ecuador" >Ecuador</option>
      <option value="El Salvador" >El Salvador</option>
      <option value="England" >England</option>
      <option value="France" >France</option>
      <option value="Germany" >Germany</option>
      <option value="Guatemala" >Guatemala</option>
      <option value="Honduras" >Honduras</option>
      <option value="Hungary" >Hungary</option>
      <option value="Iceland" >Iceland</option>
      <option value="India" >India</option>
      <option value="Ireland" >Ireland</option>
      <option value="Japan" >Japan</option>
      <option value="Madagascar" >Madagascar</option>
      <option value="Malaysia" >Malaysia</option>
      <option value="Mexico" >Mexico</option>
      <option value="Mongolia" >Mongolia</option>
      <option value="Netherlands" >Netherlands</option>
      <option value="Nicaragua" >Nicaragua</option>
      <option value="Northern Ireland" >Northern Ireland</option>
      <option value="Oman" >Oman</option>
      <option value="Panama" >Panama</option>
      <option value="Paraguay" >Paraguay</option>
      <option value="Peru" >Peru</option>
      <option value="Portugal" >Portugal</option>
      <option value="Qatar" >Qatar</option>
      <option value="Scotland" >Scotland</option>
      <option value="Slovakia" >Slovakia</option>
      <option value="South Africa" >South Africa</option>
      <option value="Spain" >Spain</option>
      <option value="Sweden" >Sweden</option>
      <option value="Uruguay" >Uruguay</option>
    </select>
    <iframe
      id="weekly-country-selected-iframe"
      title=""
      src="../../assets/data/02-02-2023/weekly_each_country/weekly_Argentina.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabscountry" id="tabscountrytimeseries">
  <label for="tabscountrytimeseries">Time Series</label>
  <div class="tab">
    <select id="time-series-country-selector">
      <option value="Argentina" selected="selected">Argentina</option>
      <option value="Australia" >Australia</option>
      <option value="Belize" >Belize</option>
      <option value="Brazil" >Brazil</option>
      <option value="Bulgaria" >Bulgaria</option>
      <option value="Canada" >Canada</option>
      <option value="Central African Republic" >Central African Republic</option>
      <option value="Colombia" >Colombia</option>
      <option value="Costa Rica" >Costa Rica</option>
      <option value="Cote" >Côte d'Ivoire</option>
      <option value="Denmark" >Denmark</option>
      <option value="Dominica" >Dominica</option>
      <option value="Ecuador" >Ecuador</option>
      <option value="El Salvador" >El Salvador</option>
      <option value="England" >England</option>
      <option value="France" >France</option>
      <option value="Germany" >Germany</option>
      <option value="Guatemala" >Guatemala</option>
      <option value="Honduras" >Honduras</option>
      <option value="Hungary" >Hungary</option>
      <option value="Iceland" >Iceland</option>
      <option value="India" >India</option>
      <option value="Ireland" >Ireland</option>
      <option value="Japan" >Japan</option>
      <option value="Madagascar" >Madagascar</option>
      <option value="Malaysia" >Malaysia</option>
      <option value="Mexico" >Mexico</option>
      <option value="Mongolia" >Mongolia</option>
      <option value="Netherlands" >Netherlands</option>
      <option value="Nicaragua" >Nicaragua</option>
      <option value="Northern Ireland" >Northern Ireland</option>
      <option value="Oman" >Oman</option>
      <option value="Panama" >Panama</option>
      <option value="Paraguay" >Paraguay</option>
      <option value="Peru" >Peru</option>
      <option value="Portugal" >Portugal</option>
      <option value="Qatar" >Qatar</option>
      <option value="Scotland" >Scotland</option>
      <option value="Slovakia" >Slovakia</option>
      <option value="South Africa" >South Africa</option>
      <option value="Spain" >Spain</option>
      <option value="Sweden" >Sweden</option>
      <option value="Uruguay" >Uruguay</option>
    </select>
    <iframe
      id="time-series-selected-iframe"
      title=""
      src="../../assets/data/02-02-2023/timeseries_each_country/timeseries_Argentina.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>
</div>

<style>
  /**
 * Tabs
 */
  .tabscountry {
    display: flex;
    flex-wrap: wrap;
  }
  .tabscountry label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabscountry .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabscountry input[type="radio"] {
    display: none;
  }
  .tabscountry input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabscountry input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabscountry .tab,
    .tabscountry label {
      order: initial;
    }
    .tabscountry label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  const countrySelector = document.getElementById('country-selector');
  const countryIframe = document.getElementById('country-selected-iframe');

  let archiveVal = "02-02-2023";

  if(getCookie("archive") !== null) {
    archiveVal = getCookie("archive");
    countryIframe.src = "../../assets/data/" + archiveVal + "/covidimpact_each_country/covidimpact_Argentina.html";
  }

  countrySelector.addEventListener('change',function(event) {
    countryIframe.src = "../../assets/data/" + archiveVal + "/covidimpact_each_country/covidimpact_" + countrySelector.value + ".html";
  })

  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
</script>

<script>
  const weeklyCountrySelector = document.getElementById('weekly-country-selector');
  const weeklyCountryIframe = document.getElementById('weekly-country-selected-iframe');

  let weeklyCountryArchiveVal = "02-02-2023";

  if(getCookie("archive") !== null) {
    weeklyCountryArchiveVal = getCookie("archive");
    weeklyCountryIframe.src = "../../assets/data/" + weeklyCountryArchiveVal + "/weekly_each_country/weekly_Argentina.html";
  }

  weeklyCountrySelector.addEventListener('change',function(event) {
    weeklyCountryIframe.src = "../../assets/data/" + weeklyCountryArchiveVal + "/weekly_each_country/weekly_" + weeklyCountrySelector.value + ".html";
  })

  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
</script>

<script>
  const timeSeriesCountrySelector = document.getElementById('time-series-country-selector');
  const timeSeriesCountryIframe = document.getElementById('time-series-selected-iframe');

  let timeSeriesCountryArchiveVal = "02-02-2023";

  if(getCookie("archive") !== null) {
    timeSeriesCountryArchiveVal = getCookie("archive");
    timeSeriesCountryIframe.src = "../../assets/data/" + timeSeriesCountryArchiveVal + "/timeseries_each_country/timeseries_Argentina.html";
  }

  timeSeriesCountrySelector.addEventListener('change',function(event) {
    timeSeriesCountryIframe.src = "../../assets/data/" + timeSeriesCountryArchiveVal + "/timeseries_each_country/timeseries_" + timeSeriesCountrySelector.value + ".html";
  })

  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
</script>
