<div class="tabsscatter">
  <input type="radio" name="tabsscatter" id="tabsscatter2021" checked="checked">
  <label for="tabsscatter2021">2021</label>
  <div class="tab">
    <iframe
      id="scatter-selected-iframe-2021"
      title=""
      src="../../assets/data/02-02-2023/onset_each_region/onsetscatter2021_USA.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabsscatter" id="tabsscatter2022">
  <label for="tabsscatter2022">2022</label>
  <div class="tab">
    <iframe
      id="scatter-selected-iframe-2022"
      title=""
      src="../../assets/data/02-02-2023/onset_each_region/onsetscatter2022_USA.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>

  <input type="radio" name="tabsscatter" id="tabsscatterall">
  <label for="tabsscatterall">All</label>
  <div class="tab">
    <iframe
      id="scatter-selected-iframe-all"
      title=""
      src="../../assets/data/02-02-2023/onset_each_region/onsetscatterall_USA.html"
      frameborder="0"
      width="100%"
      height="600"
      allowtransparency
    ></iframe>
  </div>
</div>

<style>
  /**
 * Tabs
 */
  .tabsscatter {
    display: flex;
    flex-wrap: wrap;
  }
  .tabsscatter label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-weight: bold;
    transition: background ease 0.2s;
    margin-bottom:0;
  }
  .tabsscatter .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
  }
  .tabsscatter input[type="radio"] {
    display: none;
  }
  .tabsscatter input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
  .tabsscatter input[type="radio"]:checked + label + .tab {
    display: block;
  }

  @media (max-width: 45em) {
    .tabsscatter .tab,
    .tabsscatter label {
      order: initial;
    }
    .tabsscatter label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

</style>

<script>
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  if(getCookie("archive") !== null) {
    document.getElementById("scatter-selected-iframe-2021").src = "../../assets/data/" + getCookie("archive") + "/onset_each_region/onsetscatter2021_USA.html"
    document.getElementById("scatter-selected-iframe-2022").src = "../../assets/data/" + getCookie("archive") + "/onset_each_region/onsetscatter2022_USA.html"
    document.getElementById("scatter-selected-iframe-all").src = "../../assets/data/" + getCookie("archive") + "/onset_each_region/onsetscatterall_USA.html"
  }
</script>
